<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ak.insight"
    android:sharedUserId="com.ak.demo">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ak_ic_launcher"
        android:label="@string/ak_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>